* {
    padding:0;
    margin:0;
}
.mySlides {
  display:none;
  width: 100%;
  height: 60vh;
}
.YTSlide{
    position: relative;
}

.nav{
  width: 70%;
  height: 15vh;
  position: relative;
  float: left;
  background: transparent;
  opacity: 1;
}

.link{
  text-decoration: none;
  font-size: 50px;
  padding: 2.5% 2.5% 0 2.5%;
  margin-left: 10px;
  border: 2px solid red;
  color: white;
  background: green;
  text-align: center;
  float: left;
  height: 11vh;
  font-family: "ChristmasinFinland";
  width: 15%;
  opacity: 0.7;
}

#LeftButton{
    position: relative;
    width: 7%;
    height: 5vh;
    border: none;
    background-color: #f4511e;
    opacity: 0.6;
    transition: 0.4s;
    margin-top: 5px;
}

#LeftButton:hover {opacity: 1}

#RightButton{
    position: relative;
    width: 7%;
    height: 5vh;
    float: right;
    border: none;
    background-color: #f4511e;
    opacity: 0.6;
    transition: 0.4s;
    margin-top: 5px;
}

#RightButton:hover {opacity: 1}

#countdown{
  width: 25%;
  height: 10vh;
  position: relative;
  float: right;
  color: white;
  padding-top: 1.2%;
  padding-right: 2.5%;
  font-size: 400%;
  background: transparent;
  font-family: "ChristmasinFinland";
}

#jullåtar{
  width: 43%;
  height: 60vh;
  margin-top: 5%;
  margin-left: 4.25%;
  background: red;
  position: relative;
  float: left;
  border: 5px solid red;
}

#julbilder{
  width: 43%;
  height: 60vh;
  margin-top: 5%;
  margin-left: 4%;
  background: red;
  position: relative;
  float: left;
  border: 5px solid red;
}

#canvas{
  position: absolute;
  background-image: url("bakgrund");
  width: 100%;
  height: 100vh;
  display: block;
}

@font-face {
font-family: "ChristmasinFinland";
src: url("Christmas in Finland.woff");
}
